
.cta-nav-btn{
    position:absolute;
    right:25px;
    top:25px;
    padding-right:3rem;
    /* padding-top:.3125rem; */
    z-index:5000;
    
}


button:focus {
    outline:none;
}

.contact-btn-link {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.contact-btn-link-contactpage {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-btn-link{
    color: #0E3B62;
    background-color:transparent;
    border: 1px solid #0E3B62;
}
.contact-btn-link-contactpage{
    color: white;
    background-color:transparent;
    border: 1px solid white;
}


.contact-btn-link:hover {
    color: #fff;
    background-color: #6F8EA8;
    border-color: #6F8EA8;
}
.contact-btn-link-contactpage:hover {
    color: #fff;
    background-color: #6F8EA8;
    border-color: #6F8EA8;
}

.hero-logo {
    margin:0px auto;
    width:25%;
}

@media (max-width:667px) {
    .hero-logo {
        margin:0px auto;
        width:50%;
    }

    .cta-nav-btn{
    position:absolute;
    right:0px;
    /* top:25px; */
    z-index:5000;
    
}
}


