.resources-text-content {
  display: flex;
  flex-direction: column;
  color: #196196;
  /* justify-content: center; */
}

.home-blue-block img {
  width: 75px;
}

.resources-text-content h1 {
  font-size: 2rem;
  padding: 2rem;
  letter-spacing: 0.09rem;
}

.resources-text-content p {
  font-size: 1rem;
  max-width: 750px;
  margin: 0px auto;
  color: #196196;
}

.vert-line {
  height: 25px;
  width: 5px;
  border-left: 2px solid white;
  opacity: 0.25;
  margin: 10px auto;
}
/* @media (max-width: 750px) {
  .home-blue-block {
    min-height: 100% !important;
    height: 100vh !important;
  }
  .resources-text-content p {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 25px;
  }
  .resources-text-content h1 {
    padding: 25px 0rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }
} */

.the-button {
  color: #868686;
  width: 17.5rem;
  padding: 1.4em 2.338em;
  transition: 0.6s;
  max-width: 230px;
  margin: 50px auto;
  border: 1px solid #707070;
  background-color: transparent;
}

.the-button:hover {
  color:#F9FAFB;
  background: #196196;
  border: 1px solid #fff0;
}

.resources-text-content {
  max-width:750px;
  margin:100px auto;
}


.resource-btn-wrapper {
  /* max-width:980px; */
  margin:25px 0px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  /* margin: 0px 5px; */
  flex-wrap:wrap;
}

.resource-btn-wrapper .the-button {
  max-width:unset;
  margin:25px 25px;
}

@media (max-width:750px) {
  .resources-text-content {
    margin:100px 25px;
  }
  .resource-btn-wrapper{
    flex-direction:column;
    margin: 25px auto;
  }
  .resource-btn-wrapper .the-button {
    margin:25px auto;
  }
}