/* .about-page .navbar {
    position:inherit;
} */
.white-block {
  /* margin-top:10vh; */
  height: 75vh;
}
.pink-block {
  padding-bottom: 50px;
  background-color: #196196;
}

.img-container .about-img {
  /* position:absolute; */
  /* margin-left:-200px; */
}


.about {
  color: #86BFFF;
  text-align: left;
  position: relative;
  /* padding-top: 75%; */
  padding-top: 40vh;
  max-width: 615px;
  margin: 0px auto;
  line-height: 2rem;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about p {
  color:white;
  width:100%;
}

.about-contact a:hover {
  color: #86c6ff;
  z-index: 5000;
}

.about-greeting {
  text-align: left;
  color: #86BFFF;
  position: absolute;
  /* bottom: -40%; */
  /* left: 50%;
    width: 100%;
    margin-left: -50%; */
}

.about-contact {
  margin-top: 25%;
  text-align: left;
  color:#86BFFF;
  /* position: absolute; */
  /* bottom: -35%; */
  max-width: 615px;
  margin: 15% auto 0% auto;
  line-height: 5rem;
}

.about-contact h1 {
  font-size: 2.5rem;
}

.about-contact p {
  color: #707070;
}

.about-contact span {
  color:#86BFFF;
}


@media (max-width: 997px) {
 .about{
 padding: 28vh 15px 0vh 15px;
 }   
  .about-contact {
    padding: 30px;
  }
}

@media (max-width: 750px) {
 .about{
 padding: 20vh 10px 0vh 15px;
 }   
  .about-contact {
    padding: 30px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {


  .about-greeting {
    bottom: -125%;
  }
  .about-greeting h1 {
    width: 75%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 75%;
    margin: 5px auto;
    line-height: 2rem;
  }
  .about-contact {
    width: 75%;
    text-align: center;
    line-height: 2.5rem;
  }
}

@media (min-width: 400px) and (max-width: 667px) {
  .pink-block {
    /* height:125vh; */
    /* background-color: #ffeeee; */
  }

  .about-greeting {
    bottom: -85%;
  }
  .about-greeting h1 {
    width: 75%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 75%;
    margin: 5px auto;
    line-height: 2rem;
  }
  .about-contact {
    /* width:50%; */
    line-height: 2.5rem;
  }
}
@media (min-width: 668px) and (max-width: 996px) {
  .pink-block {
    /* height:90vh; */
    /* background-color: #ffeeee; */
  }
  .about-greeting {
    bottom: -55%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 997px) {
  .about-greeting {
    bottom: -45%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 1050px) {
  .about-greeting {
    bottom: -40%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .about-greeting {
    bottom: -40%;
  }
  .about-greeting h1 {
    width: 50%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 50%;
    margin: 5px auto;
    line-height: 2rem;
  }
}
@media (min-width: 1450px) {
  .about-greeting {
    bottom: -40%;
  }
  .about-greeting h1 {
    width: 35%;
    margin: 5px auto;
  }

  .about-greeting p {
    width: 35%;
    margin: 5px auto;
    line-height: 2rem;
  }
}

.about-logo {
  width: 200px;
  position: absolute;
  right: 25%;
}

@media (max-width: 997px) {
  .about-logo {
    display: none;
  }
}
@media (max-width: 1300px) {
  .about-logo {
    width: 200px;
    position: absolute;
    right: 20%;
  }
}
@media (min-width: 1600px) {
  .about-logo {
    width: 200px;
    position: absolute;
    right: 30%;
  }
}
@media (min-width: 2000px) {
  .about-logo {
    width: 200px;
    position: absolute;
    right: 35%;
  }
}
