.home-img{
    /* max-width:650px;
    box-shadow: 1px 6px 10px 2px #9898; */
}

.quote-div {
    position:relative;
    width:50%;
    height:100px;
    background-color: #E6E6E6;
    /* margin:5% auto; */
    margin:0px auto;
    padding-top:25px;
}

.circle-icon {
    background: #ffc0c0;
    padding:10px;
    border-radius: 50%;
    font-size:50px;
    position:absolute; 
    top:-5px;
    left:-25px;
}

@media (max-width:677px) {
    .quote-div{
        width:75%;
    }
}



.price-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}

.item{
    width:250px;
    height:200px;
    background-color:white;
    margin:10px;
}




.action-button {
    font-size:22px;
    height: 60px;
    /* opacity:.5 !i mportant; */
    width: 180px;
    width:100%;
    justify-content: center;
    position: absolute;
    display: flex;
    bottom: 60px;
    align-items: center;
    padding: 10px;
    transition: .6s;
    text-align: center;
    border:none;
}

.btn-outline-dark {
    color:white;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    opacity:1 !important;
    
}


.arrow-img{
    /* font-size:30px; */
    /* height: 60px; */
    opacity:.5 !important;
    width:5%; 
    justify-content: center;
    position: absolute;
    display: flex;
    bottom: 0px;
    align-items: center;
    padding: 10px;
    transition: .6s;
    text-align: center;
    border:none;
}


.arrow-container {
    position:absolute;
    left:49.5%;
    width:50%;
    bottom:35px;
    margin:0px auto;
    height:200px;
}

.hero-text-block {
    position:absolute;
    left:5%;
    color:white;
}


.title-name {
    font-size:6rem;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    letter-spacing: .75rem;

}

.title-phrase {
    font-size:2rem;
    letter-spacing:3px;
}

.homepage-content {
    height: calc(var(--vh, 1vh) * 100);
}

.homepage-content > hr {
    margin:50px auto;
}

.bio-text-box > hr {
    margin: 50px 0px;
}


/* Scroll Snap */

.scroll-snap-outer {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;/* when two values set first is block, second inline */
}

.scroll-snap-outer .inner {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}