
/* * {
  overflow-x:hidden;
} */


* {
  font-family: 'ivymode';

}

html{
  scroll-behavior: smooth;
}

.inner{
  width:100%;
}

body {
  font-weight:300;
}

.App {
  text-align: center;
  overflow-x: hidden !important;
}

h1, h2 {
  font-family: 'ivymode', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing:2.5px;
}

.brand-title{
  letter-spacing:5px !important;
  /* line-height:5px; */
  color:#868686;
}

h1 {
  margin:0;
}

p, li, h3, h4, h5, a, button {
  color:#868686;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: adelle, serif; */
  letter-spacing:.1rem
}
/* .App {
  background-image:url(../src/media/moroccan-flower.png);
  box-shadow: inset 0 0 0 1000px rgba(217, 189, 189, .7);
} */

a:hover {
  text-decoration:none;
}

