
/* * {
  overflow-x:hidden;
} */


/* @font-face {
  font-family:"ivymode";
  src:url("https://use.typekit.net/ksp6ipm.css") format("woff2");
  font-display:auto;font-style:normal;font-weight:400;
  } */

* {
  font-family: 'ivymode';
}

.inner{
  width:100%;
}

.App {
  text-align: center;
  overflow-x: hidden !important;
}

h1, h2 {
  font-family: 'ivymode', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.brand-title{
  letter-spacing:5px !important;
  /* line-height:5px; */
  color:#868686;
}

h1 {
  margin:0;
}

p, li, h3, h4, h5, a, button {
  color:#868686;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: adelle, serif; */
  letter-spacing:.1rem
}
/* .App {
  background-image:url(../src/media/moroccan-flower.png);
  box-shadow: inset 0 0 0 1000px rgba(217, 189, 189, .7);
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-content {
  /* height:90vh; */
  /* margin-top:5%; */
}


.primaryTextColor {
  color: #0E3B62;
}

.lightText  {
  color:  #ECECEC
}

.darkText {
  color: #707070;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

@media (max-width: 667px) {
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
}

.addPadding {
  padding:5%;
}


.footer-div{
  height:200px;
  background-color:lightblue;
}

.footer-div > * {
  position:absolute;
  top:50%;
}