.off-page{
    height:100vh;
    background-image: linear-gradient(to right top, #ccebfd, #d3ecfd, #daeefc, #e0effc, #e6f1fb);
}

.off-boxparent{
position:absolute;
top:30%;
left:30%;
}

.off-textbox{
    width:100%;
    text-align:left;
}

.off-image{
    width:50%;
}

.off-box-parent{
    position:absolute;
    top:45%;
    width:50%;
    left:25%;
}

.off-box-container{
    position:absolute;
    /* width:100%; */
    max-width:800px;
    top:50%;
    justify-content: center;
    /* left:25%; */
    /* width:100%; */
    display:flex;
    flex-wrap:wrap;
    /* margin:0px auto; */
}

.off-box-container .off {
    flex:1 1 21%;
}

.off {
    background-color:white;
    max-width:167px;
    height:167px;
    margin:10px;
    align-items:center;
    flex: 1 1 21%;
    margin:10px 10px;
    justify-content:center;
    border-radius:15px;
   
}

.off-description{
    margin-top:-15%;
}

.off-page-title {
    
}
.off-page-subtitle {
color: #ADADAD
}

.off-title{
    margin-top:1rem;
    font-size:.95rem;
    /* margin-bottom: 0rem; */
}

.off:hover{
    border:3px solid rgb(134, 191, 255);
    /* transition:.6s; */
}



@media (max-width:667px) {

    /* PAGE */
    .off-box-parent {
        position: absolute;
        top: 30%;
        width: 64%;
        left: 18%;
    }

    .off-box-container {
        position: absolute;
        max-width: 800px;
        top: 19%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    
    }

    .off-boxparent {
        position: absolute;
        top: 15%;
        left: 22%;
    }


    .off-page {
        height: 1000px;
    }

}



@media (min-width:668px) AND (max-width:1200px) {
    .off-box-parent {
        position: absolute;
        top: 45%;
        width: 70%;
        left: 15%;
    }

    .off-box-container {
        position: absolute;
        /* width: 100%; */
        max-width: 800px;
        top: 50%;
        justify-content: center;
        /* left: 25%; */
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        /* margin: 0px auto; */
    }

    .off-boxparent {
        position: absolute;
        top: 32%;
        left: 17%;
    }


    .off-page {
        height: 1000px;
    }

}

@media (min-width:1200px) {

    /* .off-boxparent {
        position: absolute;
        top: 32%;
        left: 25%;
    }

    .off-box-parent {
        position: absolute;
        top: 45%;
        width: 70%;
        left: 22%;
    } */
}



