/* a.tagline.navbar-brand {
    display: inherit;
    font-size:.75em;
}

.menu-icon {
    position:fixed;
    z-index:550;
}

.nav-brand a {
    text-align:center;
}

.title{
    position:fixed;
    margin:0px auto;
    width:100%;
    z-index:500;
}


span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock  {
    color:black;
}
*/
.navbar-brand {
   padding-left: 3rem;
} 


.nav {
    background-color:transparent !important;
}

/* .navbar-light .navbar-nav {
    color:white;
} */




.justify-content-center.navbar-nav {
    width: 100%;
}


.navbar-light .navbar-nav .nav-link {
    color:#ffffff7a;
    font-weight:400;
}

.navbar-light .navbar-nav .nav-link.active {
    color:white;
    font-weight:400;
    opacity:1;
}


.nav-link:hover{
    color: white !important;
}

.nav-link {
    margin: 0px 18px;
}

.nav-arrow{
    position:absolute;
    right:25px;
    top:40px;
    width:25px;
}


.cta-nav-btn{
    position:absolute;
    right:25px;
    top:25px;
    padding-right:3rem;
    padding-top:.3125rem;
}


.btn-primary {
    border-color:transparent;
    background-color:transparent;
}
