.tach-comp {
    background-size: cover !important;
}


.back-link {
    height:50px;
    width:100%;
    margin-top:10px;
    text-align:left;
}

.bolt-icon {
    position:relative;
    
    top:1%;
}