.connect-form {
    text-align:center !important;
    color:#86BFFF;
}


.connect-page {
    height:100vh;
    padding-top:15%;
    background-color:#CCEBFD;
}

.form-container {
    padding: 50px;
    width: 50%;
    margin: 0px auto;
}


.connect-page .form-control {
background-color:transparent;
border: 1px solid #86BFFF;
color: #86BFFF;
}

.connect-page .form-control::placeholder {
    color: #86BFFF;
    }


    .fade.toast.show {
        width: 100% !important;
        margin: 5px auto;
    }

    