.footer-div {
    /* position:absolute;
    top:25%; */
}

.footer-content-box{
    width:100%;
    position:absolute;
    top:25%;
    color:white;
}


.comet-image{
    width:5%;
    margin-top: -1%;
}

@media (max-width:667px) {
    .comet-image {
        width: 25%;
        margin-top: -7.5%;
    }
}