.home-store-block {
  /* display:flex; */
  /* justify-content: flex-start; */
}

.home-store-img {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-store-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: #196196;
  height: 30vh;
}


.home-store-content {
  background-color: rgb(248 249 249);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1275px) {
  .home-store-content {
    background-color: rgb(248 249 249);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .home-store-text {
    width: 100%;
  }
  .home-store-img {
    width: 100% !important;
    background-size: cover !important;
    height: 75vh !important;
    background-position-x: 60% !important;
  }
}


.home-store-content .the-button {
  color: #868686 !important;
  width: 17.5rem;
  padding: 1.4em 2.338em;
  transition: 0.6s;
  max-width: 230px;
  margin: 50px auto;
  border: 1px solid #707070;
  background-color: transparent;
}

.home-store-content .the-button:hover {
  color:#F9FAFB !important;
  background: #196196;
  border: 1px solid #fff0;
}

.home-store-text {
  margin:25px;
}