/* .card-deck {
    width: 75%;
    margin: 0px auto;
    border-radius: 25px;
} */

.post-img {
    /* max-width: 90%;
    max-height: 300px; */
    /* margin: 0px auto; */
}

/* .post-img{
    max-width:100%;
    max-height:500px;
    margin:0px auto;
    width:auto !important;
} */


.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index:400;
}
.edit-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:400;
}

.delete-icon:hover {
    cursor: pointer;
    color: #7C5454;
}
.edit-icon:hover {
    cursor: pointer;
    color:#7C5454;
}

.post-body {
    padding:25px;
}

.login-form {
    margin: 5% auto;
}

.lead-modal {
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
    top: 50%;
    z-index: 2500;
    left: 40%;
}