.subscribe-block {
  display: flex;
  justify-content: center;
}
.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.subscribe-content h2 {
  color: #007BB7;
  margin-bottom: 25px;
  font-family: "ivymode";
}

.subscribe-content .mia {
  font-family:"Mia Love" !important;
  font-size:2.5rem;
  margin-bottom:50px;
}
.subscribe-content button {
  border: 1px solid #007BB7 !important;
  color: white !important;
  padding: 1.4em 2.338em;
  background-color: transparent;
}
.subscribe-content button:hover {
  background-color: #007BB7;
  color: white !important;
  margin: 0px auto;
  border: 1px solid#007BB7;
  transition: 0.6s;
}
.subscribe-content input, .subscribe-content textarea {
  border: 1px solid #007BB7 !important;
    background-color: transparent;
    padding: 1.4em 7em 1.4em 2em;
    letter-spacing: .1rem;
    color: #007BB7 !important;
}

@media (max-width: 725px) {
  .subscribe-content input {
    padding: 1.4em 2.338em !important;
  }
  .subscribe-block {
    height: 60vh;
  }
  .form-parent {
    max-width: 85%;
    margin: 0px auto;
  }
  .subscribe-form {
    display: flex;
  }
  .subscribe-content button {
    border: 1px solid #868686;
    padding: 1em 2em;
    background-color: transparent;
  }
  .subscribe-content input {
    width: 100%;
  }
  .subscribe-content h2 {
    max-width: 250px;
  }
}
