.subscribe-block {
    display: flex;
    justify-content: center;
  }
  .subscribe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .subscribe-content h2 {
    color: #196196;
    margin: 50px;
  }
  .subscribe-content button {
    border: 1px solid #868686;
    padding: 1.4em 2.338em;
    background-color: transparent;
  }
  .subscribe-content button:hover {
    background-color: #196196;
    color: white;
    margin: 0px auto;
    border: 1px solid#196196;
    transition: 0.6s;
  }
  .subscribe-content input {
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
    border-top: 1px solid #868686;
    border-right: none;
    background-color: transparent;
    padding: 1.4em 2.338em;
    letter-spacing: .1rem;
  }