.author-content{
    display:flex;
    width:100%;
    max-width:1200px;
}

.home-author-block {
    min-height:50vh;
    height:100%;
}
.auth-text{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:50px;
    padding:50px;
}

.auth-text h2 {
    color:#196196;
}

.auth-text button {
    background-color:transparent;
    padding: 10px 30px;
    width:250px;
    margin:0px auto;
    border: 1px solid #868686;
    transition:.6s;
}
.auth-text button:hover {
    background-color:#196196;
    color:white;
    padding: 10px 30px;
    width:250px;
    margin:0px auto;
    border: 1px solid#196196;
    transition:.6s
}

.auth-pic{
    width:50%;
}



.auth-img {
    width:458px;
    height:591px;
}

@media (max-width:750px) {
    .author-content{
       flex-direction:column;
       width:100%;
       /* margin:0px auto; */
    }
    .auth-text{ 
    width:100%;
    margin:15px 0px;
    padding: 35px 25px;
    }
    .auth-text p {
        padding:10px;
    }
    .auth-pic{ 
    width:100%;
    }
    .auth-img {
        width:100%;
        height:auto;
        border:5px solid white;
        padding:25px;
    }
}