.bb-text-content {
  display: flex;
  flex-direction: column;
  color: #f9fafb;
  /* justify-content: center; */
}

.home-blue-block img {
  width: 75px;
}

.bb-text-content h1 {
  font-size: 2.5rem;
  padding: 2rem;
  letter-spacing: 0.1rem;
}

.bb-text-content p {
  font-size: 1rem;
  max-width: 540px;
  margin: 0px auto;
  color: #f9fafb;
}

.vert-line {
  height: 25px;
  width: 5px;
  border-left: 2px solid white;
  opacity: 0.25;
  margin: 10px auto;
}
@media (max-width: 750px) {
  .home-blue-block {
    min-height: 100% !important;
    height: 100vh !important;
  }
  .bb-text-content p {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 25px;
  }
  .bb-text-content h1 {
    padding: 25px 0rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }
}


.the-button {
    color:white;
    width:17.5rem;
    margin:50px auto;
    border: 1px solid white;
    padding: 1.2em 2.2em;
    background-color: transparent;
  }

