.bb-text-content{
    display:flex;
    flex-direction: column;
    color:#F9FAFB;
    /* justify-content: center; */
}

.home-blue-block img {
width:75px;
}

.bb-text-content h1 {
    font-size:4rem;
    padding:5rem;
    letter-spacing:.1rem;
}

.bb-text-content p {
    font-size:2rem;
    max-width:50%;   
    margin:0px auto;
    color:#F9FAFB;
}

.vert-line {
    height:25px;
    width:5px;
    border-left:2px solid white;
    opacity:.25;
    margin:10px auto;
}
@media(max-width:750px){
    .home-blue-block {
        min-height:100% !important;
        height:100vh !important;
    }
    .bb-text-content p{
    font-size:1rem !important;
    max-width:100%;
    padding:25px;
}
.bb-text-content h1 {
    padding:25px 0rem;
    font-size:2rem;
    letter-spacing: .25rem;
}
}