.bb-text-content{
    display:flex;
    flex-direction: column;
    color:#F9FAFB;
}

.home-blue-block img {
width:75px;
}

.bb-text-content h1 {
    font-size:4rem;
    padding:5rem;
    letter-spacing:.5rem;
}

.bb-text-content p {
    font-size:2rem;
    max-width:50%;   
    margin:0px auto;
    color:#F9FAFB;
}

.vert-line {
    height:25px;
    width:5px;
    border-left:2px solid white;
    opacity:.25;
    margin:10px auto;
}