.subscribe-block {
  display: flex;
  justify-content: center;
}
.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe-content h2 {
  color: #196196;
  margin-bottom: 25px;
}
.subscribe-content button {
  border: 1px solid #868686;
  padding: 1.4em 2.338em;
  background-color: transparent;
}
.subscribe-content button:hover {
  background-color: #196196;
  color: white;
  margin: 0px auto;
  border: 1px solid#196196;
  transition: 0.6s;
}
.subscribe-content input {
  border-left: 1px solid #868686;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
  border-right:1px solid #868686;
  background-color: transparent;
  padding: 1.4em 7em 1.4em 2em;
  /* padding: 1.4em 2.338em; */
  letter-spacing: 0.1rem;
}

@media (max-width: 725px) {
  .subscribe-content input {
    padding: 1.4em 2.338em !important;
  }
  .subscribe-block {
    height: 60vh;
  }
  .form-parent {
    max-width: 85%;
    margin: 0px auto;
  }
  .subscribe-form {
    display: flex;
  }
  .subscribe-content button {
    border: 1px solid #868686;
    padding: 1em 2em;
    background-color: transparent;
  }
  .subscribe-content input {
    width: 100%;
  }
  .subscribe-content h2 {
    max-width: 250px;
  }
}


.speaking-page .subscribe-form {
  display:flex;
  flex-direction:column !important;
}

.speaking-page form.subscribe-form * {
  margin:15px;
}

.speaking-page textarea {
  min-height:150px;
  padding: 1.4em 7em 1.4em 2em;
}

.speaking-page textarea::placeholder{
  margin:15px !important;
}

.speaking-page input[type="date"] {
  color:#868686;
}

.speaking-page .resources-text-content p {
  margin:25px 0px;
}