.bio-header {
    position:absolute;
    top:25%;
    left:25%;
}
.bio-text {
    /* position:absolute;
    top:35%;
    left:45%; */
    width:75%;
    text-align:left;
}


.bio-text-box{
    position:absolute;
    top:35%;
    left:25%;
}
.bio-header, .bio-text{
  
}

.bio-line{
 width:75%;
 margin-right:50%;
}


.bio-col {
    min-height:600px;
    /* max-height:800px; */
}