



@media (min-width:1501px) {


    
.blog-page-title {
    margin-bottom:5px;
}
.post-img {
    /* max-width: 90%;
    max-height: 300px; */
    margin: 0px auto;
}

.post-img{
    max-width:100%;
    max-height:500px;
    margin:0px auto;
    width:100%;
    filter: brightness(0.5);
}


.blog-page a {
    color:inherit;
}
a:hover {
  cursor:pointer;
    text-decoration:none;
}

.blog-date-box{
    display:flex;
    width:15%;
    position:absolute;
    top:22.5%;
    right:22.5%;
}

.bolt-icon {
    color:#86BFFF;
    margin-right:10px;
}

.blog-date-box > button {
    /* justify-content:center; */
        width:25%;
        margin-right:-10px;
        color:#ADADAD;
        background-color:transparent;
        border:1.5px solid #86BFFF;
        font-size:14px;
}

.blog-text-box{
    text-align: left;
    position:absolute;
    top:22.5%;
    left:13%;
}

.blogbox {
    font-size:.8rem;
  color: white;
margin: 0;
/* padding: 5px; */
position:absolute;
z-index:200;
}

.blog-title{
    width:100%;
    margin:5px;
    /* margin:25px auto; */
}

.blog-date{
    width:100%;
    font-size:24px;
    font-style:italic;
}

 .blog-text-box-0{
    position:absolute;
    top:55%;
    left:15%;
    color:white;
    /* left:10%; */
 }

 .button-wrapper{
     position:absolute;
     top:90%;
     left:15%;
     display:flex;
     width:75%;
 }

 .button-wrapper > button {
     width:25%;
 }



.post-img{
    width:100%;
    height:100%;
     object-fit:cover;
}
.post-img:hover{
   opacity:.8;
}

    
    .grid{
        padding-top: 20%;
        height:1000px;
        width:75%;
        margin:0px auto;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vh);
        grid-gap: 15px;
    }
    .card-0{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 9;
    }
    .card-0 > a > img{
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
    }
    .card-1{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .card-2{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 5;
        } 
        .card-2 > a > img{
            border-top-right-radius:15px;
        }
    .card-3{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
    .card-4{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
        .card-4 > a > img{
            border-bottom-right-radius:15px;
        }

}
@media (min-width:1250px) and (max-width:1500px) {


    
.blog-page-title {
    margin-bottom:5px;
}
.post-img {
    /* max-width: 90%;
    max-height: 300px; */
    margin: 0px auto;
}

.post-img{
    max-width:100%;
    max-height:500px;
    margin:0px auto;
    width:100%;
    filter: brightness(0.5);
}


.blog-page a {
    color:inherit;
}
a:hover {
  cursor:pointer;
    text-decoration:none;
}

.blog-date-box{
    display:flex;
    width:20%;
    position:absolute;
    top:15%;
    right:22.5%;
}

.bolt-icon {
    color:#86BFFF;
    margin-right:10px;
}

.blog-date-box > button {
    /* justify-content:center; */
        width:25%;
        margin-right:-10px;
        color:#ADADAD;
        background-color:transparent;
        border:1.5px solid #86BFFF;
        font-size:14px;
}

.blog-text-box{
    text-align: left;
    position:absolute;
    top:15%;
    left:15%;
}

.blogbox {
    font-size:.8rem;
  color: white;
margin: 0;
/* padding: 5px; */
position:absolute;
z-index:200;
}

.blog-title{
    width:100%;
    margin:5px;
    /* margin:25px auto; */
}

.blog-date{
    width:100%;
    font-size:24px;
    font-style:italic;
}

 .blog-text-box-0{
    position:absolute;
    top:55%;
    left:15%;
    color:white;
    /* left:10%; */
 }

 .button-wrapper{
     position:absolute;
     top:85%;
     left:15%;
     display:flex;
     width:75%;
 }

 .button-wrapper > button {
     width:25%;
 }



.post-img{
    width:100%;
    height:100%;
     object-fit:cover;
}
.post-img:hover{
   opacity:.8;
}

    
    .grid{
        padding-top: 20%;
        height:1000px;
        width:75%;
        margin:0px auto;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vh);
        grid-gap: 15px;
    }
    .card-0{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 9;
    }
    .card-0 > a > img{
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
    }
    .card-1{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .card-2{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 5;
        } 
        .card-2 > a > img{
            border-top-right-radius:15px;
        }
    .card-3{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
    .card-4{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
        .card-4 > a > img{
            border-bottom-right-radius:15px;
        }

}

@media (min-width:1101px) and (max-width:1249px) {




    .blog-page-title {
        margin-bottom:5px;
    }
    .post-img {
        /* max-width: 90%;
        max-height: 300px; */
        margin: 0px auto;
    }
    
    .post-img{
        max-width:100%;
        max-height:500px;
        margin:0px auto;
        width:100%;
        filter: brightness(0.5);
    }
    
    
    .blog-page a {
        color:inherit;
    }
    a:hover {
      cursor:pointer;
        text-decoration:none;
    }
    
    .blog-date-box{
        display:flex;
        width:18%;
        position:absolute;
        top:22%;
        right:22.5%;
    }
    
    .bolt-icon {
        color:#86BFFF;
        margin-right:10px;
    }
    
    .blog-date-box > button {
        /* justify-content:center; */
            width:25%;
            margin-right:-10px;
            color:#ADADAD;
            background-color:transparent;
            border:1.5px solid #86BFFF;
            font-size:14px;
    }
    
    .blog-text-box{
        text-align: left;
        position:absolute;
        top:22%;
        left:15%;
    }
    
    .blogbox {
        font-size:.8rem;
      color: white;
    margin: 0;
    /* padding: 5px; */
    position:absolute;
    z-index:200;
    }
    
    .blog-title{
        width:100%;
        margin:5px;
        /* margin:25px auto; */
    }
    
    .blog-date{
        width:100%;
        font-size:24px;
        font-style:italic;
    }
    
     .blog-text-box-0{
        position:absolute;
        top:55%;
        left:15%;
        color:white;
        /* left:10%; */
     }
    
     .button-wrapper{
         position:absolute;
         top:90%;
         left:15%;
         display:flex;
         width:75%;
     }
    
     .button-wrapper > button {
         width:25%;
     }
    
    
    
    .post-img{
        width:100%;
        height:100%;
         object-fit:cover;
    }
    .post-img:hover{
       opacity:.8;
    }

    
    .grid{
        padding-top:25%;
        height:1000px;
        width:75%;
        margin:0px auto;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vh);
        grid-gap: 15px;
    }
    
    .card-0{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 9;
    }
    .card-0 > a > img{
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
    }
    .card-1{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .card-2{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 5;
        } 
        .card-2 > a > img{
            border-top-right-radius:15px;
        }
    .card-3{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
    .card-4{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
        .card-4 > a > img{
            border-bottom-right-radius:15px;
        }

}

@media (min-width:997px) and (max-width:1100px) {




    .blog-page-title {
        margin-bottom:5px;
    }
    .post-img {
        /* max-width: 90%;
        max-height: 300px; */
        margin: 0px auto;
    }
    
    .post-img{
        max-width:100%;
        max-height:500px;
        margin:0px auto;
        width:100%;
        filter: brightness(0.5);
    }
    
    
    .blog-page a {
        color:inherit;
    }
    a:hover {
      cursor:pointer;
        text-decoration:none;
    }
    
    .blog-date-box{
        display:flex;
        width:20%;
        position:absolute;
        top:13%;
        right:22.5%;
    }
    
    .bolt-icon {
        color:#86BFFF;
        margin-right:10px;
    }
    
    .blog-date-box > button {
        /* justify-content:center; */
            width:25%;
            margin-right:-10px;
            color:#ADADAD;
            background-color:transparent;
            border:1.5px solid #86BFFF;
            font-size:14px;
    }
    
    .blog-text-box{
        text-align: left;
        position:absolute;
        top:10%;
        left:15%;
    }
    
    .blogbox {
        font-size:.8rem;
      color: white;
    margin: 0;
    /* padding: 5px; */
    position:absolute;
    z-index:200;
    }
    
    .blog-title{
        width:100%;
        margin:5px;
        /* margin:25px auto; */
    }
    
    .blog-date{
        width:100%;
        font-size:24px;
        font-style:italic;
    }
    
     .blog-text-box-0{
        position:absolute;
        top:55%;
        left:15%;
        color:white;
        /* left:10%; */
     }
    
     .button-wrapper{
         position:absolute;
         top:80%;
         left:15%;
         display:flex;
         width:75%;
     }
    
     .button-wrapper > button {
         width:25%;
     }
    
    
    
    .post-img{
        width:100%;
        height:100%;
         object-fit:cover;
    }
    .post-img:hover{
       opacity:.8;
    }

    
    .grid{
        padding-top:20%;
        height:1000px;
        width:80%;
        margin:0px auto;
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vh);
        grid-gap: 15px;
    }
    .card-0{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 9;
    }
    .card-0 > a > img{
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
    }
    .card-1{
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .card-2{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 5;
        } 
        .card-2 > a > img{
            border-top-right-radius:15px;
        }
    .card-3{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
    .card-4{
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 9;
        } 
        .card-4 > a > img{
            border-bottom-right-radius:15px;
        }
}
@media (min-width:667px) and (max-width:996px) {




    .blog-page-title {
        margin-bottom:5px;
    }
    .post-img {
        /* max-width: 90%;
        max-height: 300px; */
        margin: 0px auto;
    }
    
    .post-img{
        max-width:100%;
        max-height:500px;
        margin:0px auto;
        width:100%;
        filter: brightness(0.5);
    }
    
    
    .blog-page a {
        color:inherit;
    }
    a:hover {
      cursor:pointer;
        text-decoration:none;
    }
    
    .blog-date-box{
        display:flex;
        width:32.5%;
        position:absolute;
        top:7%;
        right:15%;
    }
    
    .bolt-icon {
        color:#86BFFF;
        margin-right:10px;
    }
    
    .blog-date-box > button {
        /* justify-content:center; */
            width:25%;
            margin-right:-10px;
            color:#ADADAD;
            background-color:transparent;
            border:1.5px solid #86BFFF;
            font-size:14px;
    }
    
    .blog-text-box{
        text-align: left;
        position:absolute;
        top:6%;
        left:15%;
    }
    
    .blogbox {
        font-size:.8rem;
      color: white;
    margin: 0;
    padding:25px;
    /* padding: 5px; */
    position:absolute;
    z-index:200;
    }
    
    .blog-title{
        width:100%;
        margin:5px;
        /* margin:25px auto; */
    }
    
    .blog-date{
        width:100%;
        font-size:24px;
        font-style:italic;
    }
    
     .blog-text-box-0{
        position:absolute;
        padding:25px;
        /* top:55%;
        left:15%; */
        color:white;
        /* left:10%; */
     }
    
     .button-wrapper{
         position:absolute;
         top:90%;
         left:15%;
         display:flex;
         width:75%;
     }
    
     .button-wrapper > button {
         width:25%;
     }
    
    
    
    .post-img{
        width:100%;
        height:100%;
         object-fit:cover;
    }
    .post-img:hover{
       opacity:.8;
    }

    
    .grid{
        padding: 20% 0%;
        height:1000px;
        width:75%;
        margin:0px auto;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 5vh);
        grid-gap: 15px;
    }
    
    .card-0{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .card-0 > a > img{
        border-radius:25px;
    }
    .card-1{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .card-1 > a > img{
        border-radius:25px;
    }
    .card-2{
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 6;
            grid-row-end: 9;
        } 
        .card-2 > a > img{
            border-radius:15px;
        }
    .card-3{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 9;
            grid-row-end: 12;
        } 
        .card-3 > a > img{
            border-radius:15px;
        }
    .card-4{
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 9;
            grid-row-end: 12;
        } 
        .card-4 > a > img{
            border-radius:15px;
        }

}
@media (max-width:667px) {




    .blog-page-title {
        margin-bottom:5px;
    }
    .post-img {
        /* max-width: 90%;
        max-height: 300px; */
        margin: 0px auto;
    }
    
    .post-img{
        max-width:100%;
        max-height:500px;
        margin:0px auto;
        width:100%;
        filter: brightness(0.5);
    }
    
    
    .blog-page a {
        color:inherit;
    }
    a:hover {
      cursor:pointer;
        text-decoration:none;
    }
    
    .blog-date-box{
        display: flex;
        width: 52%;
        position: absolute;
        top: 19%;
        right: 22%;
    }
    
    .bolt-icon {
        color:#86BFFF;
        margin-right:10px;
    }
    
    .blog-date-box > button {
        /* justify-content:center; */
        width: 23%;
        margin-right: -20px;
        color: #ADADAD;
        background-color: transparent;
        border: 1.5px solid #86BFFF;
        font-size: 12px;
    }
    
    .blog-text-box{
        text-align: left;
        position: absolute;
        top: 11%;
        left: 7%;
    }
    
    .blogbox {
        font-size:.8rem;
      color: white;
    margin: 0;
    padding:25px;
    /* padding: 5px; */
    position:absolute;
    z-index:200;
    }
    
    .blog-title{
        width:100%;
        margin:5px;
        /* margin:25px auto; */
    }
    
    .blog-date{
        width:100%;
        font-size:24px;
        font-style:italic;
    }
    
     .blog-text-box-0{
        position:absolute;
        padding:25px;
        /* top:55%;
        left:15%; */
        color:white;
        /* left:10%; */
     }
    
     .button-wrapper{
         position:absolute;
         top:110%;
         left:15%;
         display:flex;
         width:75%;
     }
    
     .button-wrapper > button {
         width:25%;
         font-size:12px;
     }
    
    
    
    .post-img{
        width:100%;
        height:100%;
         object-fit:cover;
    }
    .post-img:hover{
       opacity:.8;
    }

    
    .grid{
        padding: 53% 0%;
        height:1000px;
        width:75%;
        margin:0px auto;
        display:grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 5vh);
        grid-gap: 15px;
    }
    
    .card-0{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .card-0 > a > img{
        border-radius:25px;
    }
    .card-1{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 9;
    }
    .card-1 > a > img{
        border-radius:25px;
    }
    .card-2{
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 6;
            grid-row-end: 9;
        } 
        .card-2 > a > img{
            border-radius:15px;
        }
    .card-3{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 9;
            grid-row-end: 12;
        } 
        .card-3 > a > img{
            border-radius:15px;
        }
    .card-4{
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 9;
            grid-row-end: 12;
        } 
        .card-4 > a > img{
            border-radius:15px;
        }

      


}


button.blog-btn.btn.btn-basic {
    background-color: rgb(134, 191, 255);
    margin: 5px;
    color: white;
}



