.blog-wrapper {
  display: flex;
  max-width: 700px;
  margin: 50px auto;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.blog-post {
  flex: 0 0 41%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  text-align: left;
  justify-content: center;
  align-items: center;
  /* max-height:200px;
    overflow:hidden;
    text-overflow:ellipsis; */
}

.blog-post h1 {
  font-size: 1.5rem;
  margin: 15px;
}

.blog-post p {
  margin: 15px;
}

.blog-post p:first-of-type{
  color:#196196;
}

.blog-post h1:first-of-type:hover {
  opacity: 0.5;
}

/* .blog-img {
    height:200px;
    width:auto;
}
.blog-img:hover {
    box-shadow: 0 0 0 3px #196196;
    transition: .3s;
    cursor: pointer;
} */

@media screen and (min-width: 750px) {
  .blog-post {
    margin: 50px;
  }
}

.blog-filter{
  margin-top:10px;
}

.filter-select-btn {
  border: 1px solid #868686;
  padding: .75rem .75rem;
  background-color: transparent;
}
.filter-select-btn:hover {
  background-color: #196196;
  color: white;
  margin: 0px auto;
  border: 1px solid#196196;
  transition: 0.6s;
}
.filter-select {
  cursor:pointer;
  border-left: 1px solid #868686;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
  border-right: none;
  background-color: transparent;
  padding: .75rem .75rem;
  /* padding: 1.4em 2.338em; */
  letter-spacing: 0.1rem;
  color: #868686;
}